{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Bienvenue sur Covid-Game !</h1>

            <h2>Règles du Jeu</h2>
                <p>
                    But du Jeu : Réussir à faire son parcours sans être contaminer par la Covid !
                </p>

    </div>
{% endblock %}
