{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Bienvenue au Covid-Game !</h1>
        <div class="row introduction">
                <p>
                    The most famous pirate in the world, the great and inimitable Captain Jack Sparrow, is looking for
                    the lost treasure of Rackham the Red, an old and pitiless pirate who spread terror among the Caribbean seas,
                    a long long time ago.
                </p>
        </div>
    </div>
{% endblock %}
