{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid-start" style="margin-left: 2em">
    <br> <h1>En attente de tous les joueurs</h1>
    <div>
        <div class="d-flex picture">
            {% for player in players %}
                <p>Nom du joueur: {{ player.name }}</p>
                <img class="player" style="width: 30%" src="{{ player.picture }}"
                     alt="player"/>
            {% endfor %}
        </div>
        {% for game in games %}
        {% if  game.nPlayer == players|length %}
        <div>
            <a class="btn btn-outline-secondary" href="{{path('map')}}">Lancer la partie</a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
{% endblock %}
