.tile {
    height: 120px;
    width: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    /*mix-blend-mode: multiply;*/
    position: relative;
}

.tile:hover {
    box-shadow: 0 0 1px var(--dark);
}

.coords {
    text-shadow: 1px 1px 2px var(--dark);
    font-size: 3em;
    display: none;
}

.tile:hover .coords {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1800px) {
    .tile {
        height: 100px;
        width: 100px;
    }
}

@media screen and (max-width: 1475px) {
    .tile {
        height: 80px;
        width: 80px;
    }
}

@media screen and (max-width: 1200px) {
    .tile {
        height: 60px;
        width: 60px;
    }
}

.tile-name {
    position: absolute;
    font-family: var(--main-font);
    opacity: 0.7;
}

@keyframes myBoat {
    0% {
        transform: rotate(-5deg);
    //translate(0 px, 0 px);
    }
    50% {
        transform: translate(5px, 5px);
    }
    100% {
        transform: rotate(5deg) translate(0px, 0px);
    }
}

.pion {

    filter: drop-shadow(3px 3px 5px var(--dark));
}

.map {
    background-image: url('/build/carte.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 17px;
    padding-right: 17px;
    margin-top: 1em;
}
.player-information {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    margin-left: 1570px;
    margin-top: -751px;
}

.navigation {
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1em;
    padding-top: 0.2em;
    margin-top: 2em;
    box-shadow: 3px 3px 3px gray;
    background-color: transparentize(gray, 0.5);
    margin-left: 0;
    margin-right: 0;
}

.infos {
    width: 100%;
    min-height: 300px;
    margin-top: 1em;
    padding: 1em;
    padding-top: 0.2em;
}

h2 {
    font-size: 1.3em;
}
.direction {
    font-size: 30px;
    color: #5eb5e0;
}
.player-picture {
    width: 50px;
    margin-top: -10px;
}
.direction-commands {
    margin-top: -10px;
}

